<h1>Create Car</h1>

<div>
  <form class="car-form" name="form" [formGroup]="form" fxLayout="column">
    <mat-form-field appearance="legacy">
      <mat-label>Vehicle Type</mat-label>
      <mat-select formControlName="vehicleType" required>
        <mat-option *ngFor="let vehicleType of vehicleTypeOptions" [value]="vehicleType.value">
          {{vehicleType.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Make</mat-label>
      <input matInput formControlName="make" required>
      <mat-error *ngIf="form.get('make')?.errors?.required">Required Field</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" required>
      <mat-error *ngIf="form.get('make')?.errors?.required">Required Field</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Engine</mat-label>
      <input matInput formControlName="engine" required>
      <mat-error *ngIf="form.get('engine')?.errors?.required">Required Field</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Number of Doors</mat-label>
      <input matInput type="number" formControlName="doorCount" required>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Number of Wheels</mat-label>
      <input matInput type="number" formControlName="wheelCount" required>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Body Type</mat-label>
      <mat-select formControlName="bodyType" required>
        <mat-option *ngFor="let bodyType of bodyTypeOptions" [value]="bodyType.value">
          {{bodyType.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<button mat-raised-button (click)="onCreateCar()">Create</button>
